@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: normal;
  font-weight: 400;
  src: local('OFL Sorts Mill Goudy TT'), local('OFLGoudyStMTT'), url(../themes.googleusercontent.com/static/fonts/oflsortsmillgoudytt/v4/9ZZVVBRCceNnPBXqWLH8IBaCi8XR2Wndwbau3-eaE1g.ttf) format('truetype');
}
@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: italic;
  font-weight: 400;
  src: local('OFL Sorts Mill Goudy TT Italic'), local('OFLGoudyStMTT-Italic'), url(../themes.googleusercontent.com/static/fonts/oflsortsmillgoudytt/v4/4zlbkWdiblhTyAxV3yYOK1Map0k-03pf3IKr-TpLv1-glnMp3_3A8V8Ai8YosRtX.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../themes.googleusercontent.com/static/fonts/ptsans/v5/FUDHvzEKSJww3kCxuiAo2A.ttf) format('truetype');
}
