@font-face {
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: local('Schoolbell'), url(../themes.googleusercontent.com/static/fonts/schoolbell/v3/BSqn7FernLolrt-MFco9Wi3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
