/* The main calendar widget.  DIV containing a table. */

div.calendar { z-index:1000; position: relative; padding: 5px; background: #fff; border: 1px solid #ABABAB;}

.calendar, .calendar table {
  border: none;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #fff;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar .nav {
/*  background: url(menuarrow.gif) no-repeat 100% 100%; */
}

.calendar thead .title { /* This holds the current "month, year" */
  text-align: center;
  background: #fff;
  font-size: 120%;
  color: #666666;
  padding: 0px 2px;
  vertical-align: middle;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background-color: #EFEFEF;
  color: #666666;
}
.calendar thead .headrow TD
{
  background-color: #EFEFEF;
  color: #666666;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  padding: 2px;
  text-align: center;
  color: #666666;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66; font-weight: bold; 
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #ABABAB;
  color: #fff;
/*  padding: 1px; */
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 10px 2px 2px;
  font-size: 90%;
  color: #ABABAB;
}

.calendar tbody .rowhilite td {
  background: #EFEFEF;
}

.calendar tbody .rowhilite td.wn {
  background: #EFEFEF;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #ABABAB;
  color: #fff;
  cursor: pointer;
  padding: 1px 3px 1px 1px;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  padding: 1px 3px 1px 1px;
  background: #ABABAB;
  color: #fff;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
  background-color: #FFFFFF; 
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #000000;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #666666;
  border-top: 1px solid #ABABAB;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #ABABAB;
  background: #fff;
  color: #666666;
  font-size: 100%;
  padding: 10px;
  z-index: 1000;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #ABABAB; color: #fff;
}

.calendar .combo .active {
  background: #EFEFEF;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
}

.calendar td.time span.active {
  border-color: #f00;
  color: #0f0;
}
