.sys_homeHeaderImg .sys_homeHeaderImgOne {background:url(../Images/HomeSlideShow/washing-hands.jpg) no-repeat 0 0;}
.sys_homeHeaderImg .sys_homeHeaderImgTwo {background:url(../Images/HomeSlideShow/cancer-centre-guys.jpg) no-repeat 0 0;}
.sys_homeHeaderImg .sys_homeHeaderImgThree {background:url(../Images/HomeSlideShow/swimmer.jpg) no-repeat 0 0;}
.sys_homeHeaderImg .sys_homeHeaderImgFour {background:url(../Images/HomeSlideShow/nurse.jpg) no-repeat 0 0;}
.sys_homeHeaderImg .sys_homeHeaderImgFive {background:url(../Images/HomeSlideShow/research-1.jpg) no-repeat 0 0;}
.sys_homeHeaderImg .sys_homeHeaderImgSix {background:url(../Images/HomeSlideShow/picu-evelina.jpg) no-repeat 0 0;}