/* CSS Document */
html, body { background: none; margin: 0; padding: 0; height: 100%; }

form, ul, li { padding: 0; margin: 0; }
img { border: none; margin: 0; padding: 0; }
p { padding: 0; margin: 0; }
a { text-decoration: underline; color: #093d8d; }

h1 { font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px; color:#093d8d; font-weight: bold; margin-top: 2px; margin-bottom: 20px;  }
h2 { font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px; color:#52aae7; font-weight: bold; margin-top: 20px; margin-bottom: 2px; }

#wrapper1 { position: absolute; width: auto; text-align: left; background-color: #66BFE5; }
#wrapper2 { position: relative; width: auto; height: auto; background: none; }
#wrapper3 { position: relative; width: auto; height: auto; background: none; }
#wrapper4 { position: relative; width: auto; height: auto; background: none; }

#bannerblok { position: relative; width: 401px; height: 108px; background: none; }
#banner { position: absolute; top: -1000px; left: -1000px; display: none; visibility: hidden; width: 0; height: 0; }
#raat { position: absolute; top: -1000px; left: -1000px; display: none; visibility: hidden; width: 0; height: 0; }
#kop { position: absolute; top: 96px; left: 0; height: 37px; width: auto; color: #000; font-size: 18px; line-height: 36px; letter-spacing: 0.1em; font-weight: bold; font-family: Tahoma, Arial, Helvetica, sans-serif; }
img#bij  { position: absolute; top: -1000px; left: -1000px; display: none; visibility: hidden; width: 0; height: 0; }
img#logo  { position: relative; top: 0; left: 320px; }

#topmenu { display: none; }
#container { position: relative; top: 30px; }
#side { display: none; }
#content { position: relative; width: 619px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#093d8d; line-height: 24px; }

ul#submenu { display: none; }
.subspacer { display: none;  }
.divider { display: none;  }

#contact { display: none;  }
#cloud { display: none; }
#belmij { display: none; }
#locCode2 { display: none; }

#footer { display: none; }