/*=========================== TAGS ============================*/

* { 
	margin:0; 
	padding:0;
}

body { 
	background:url(images/tail-body.gif); 
	font-family:"Arial, Helvetica, sans-serif", Times, serif; 
	font-size:100%; 
	line-height:1em; 
	color:#FFF; 
	min-width:906px;
}

object { 
	vertical-align:top; 
	outline:none;
}

input, 
textarea, 
select { 
	font-family:"Arial, Helvetica, sans-serif", Times, serif; 
	font-size:1em; 
	vertical-align:middle; 
	font-weight:normal;
}

p { 
	margin:0; 
	padding:0;
}

img { 
	border:0; 
	vertical-align:top; 
	text-align:left;
}

/*========================== ALIGMENT =========================*/

.fleft { 
	float:left;
}

.fright { 
	float:right;
}

.clear { 
	clear:both;
}

.alignright { 
	text-align:right;
}

.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%; 
	overflow:hidden;
}

.container { 
	width:100%;
}

/*=========================== TAILING =========================*/

.tail-top { 
	background:url(images/tail-top.jpg) center top repeat-x;
}
.tail-middle {
	background:url(images/tail-middle.jpg) repeat center top;
}
.tail-bottom { 
	background:url(images/tail-bottom.gif) center bottom repeat-x;
}

/*=========================== FORMS ===========================*/

#contacts-form .form { 
	height:40px;
	width:100%;
	overflow:hidden;
}
#contacts-form .form span {
	display:block;
	width:165px;
	height:29px;
	background:url(images/input-bg.gif) no-repeat left top;
}
#contacts-form .form1 span {
	display:block;
	width:165px;
	height:253px;
	margin-bottom:20px;
	background:url(images/textarea-bg.gif) no-repeat left top;
}
#contacts-form input {
	width:144px; 
	background:none; 
	border:0; 
	vertical-align:top;	
	line-height:1em;
	color:#5f4b39;
	padding-top:5px;
	margin-left:9px;
}
#contacts-form textarea { 
	width:156px; 
	height:248px; 
	overflow:auto;
	background:none;
	border:0;
	color:#5f4b39; 
	padding:5px 0 0 9px;
}

/*========================== LISTS ============================*/

ul, ol {
	list-style:none;
	font-size: 12px;
}

.nav-box ul {
	padding:16px 0 0 38px;
}
.nav-box ul.fright {
	padding-right:37px;
	float:right;
}
.nav-box ul li {
	float:left;
	background:url(images/divider.gif) no-repeat right top;
	padding-right:17px;
	margin-right:17px;
}
.nav-box ul li a {
	color:#0e0a07;
	text-decoration:none;
	padding-bottom:8px;
	display:block;
	float:left;
	height:17px;
}
.nav-box ul li a:hover,
.nav-box ul li a.act {
	color:#0e0a07;
	background:url(images/nav-act.gif) no-repeat center bottom;
}
.nav-box ul li.alt {
	padding-right:0;
	margin-right:0;
	background:none;
}

.footer-nav {
	position:absolute;
	left:347px;
	bottom:14px;
}
.footer-nav ul li {
	float:left;
	border-right:1px solid #513d2c;
	padding:0 14px;
}
.footer-nav ul li a {
	color:#513d2c;
	text-decoration:none;
}
.footer-nav ul li a:hover {
	color:#d6b88d;
}
.footer-nav ul li.last {
	border:0;
	padding-right:0;
}

.list {
	margin-left:-11px;
}
.list li {
	border-bottom:1px solid #2e2218;
	padding:0 10px 9px 11px;
	margin-bottom:8px;
}
.list li a {
	color:#c7b397;
	text-decoration:none;
}
.list li a:hover {
	color:#fff;
}
.list li.last {
	border:0;
	margin:0;
	padding-bottom:0;
}

.list1 {
	padding-bottom:10px;
}
.list1 li {
	padding-bottom:18px;
}
.list1 li cite {
	font-style:normal;
	line-height:1.27em;
}
.list1 li span {
	display:block;
	text-align:right;
	color:#FFF;
	padding-top:6px;
}

.list2 {
	width:100%;
	overflow:hidden;
	padding:12px;
	font-size: large;
	color: #FFF;
	height: auto;
}
.list2 li {
	float:left;
	margin-right:26px;
}
.list2 li a {
	display:block;
	float:left;
	background:#372a1f;
	padding:1px;
	cursor:pointer;
}
.list2 li a strong {
	display:block;
	float:left;
	background:#000;
	padding:1px;
}
.list2 li a:hover {
	background:#c7b397;
}
.list2 li.last {
	margin-right:0;
}

.list3 {
	padding-bottom:10px;
}
.list3 li {
	padding:0 0 5px 16px;
	background:url(images/arrow-right.gif) no-repeat left 3px;
	font-size:12px;
	color: #FFF;
}
.list3 li a {
	color:#FFF;
	text-decoration:none;
}
.list3 li a:hover {
	text-decoration:underline;
	text-align: center;
}

/*========================== OTHER ============================*/

.img-box {
	width:100%;
	overflow:hidden;
	padding-bottom:14px;
}
.img-box a {
	display:block;
	float:left;
	background:#372a1f;
	padding:1px;
	cursor:pointer;
}
.img-box a strong {
	display:block;
	float:left;
	background:#000;
	padding:1px;
}
.img-box a:hover {
	background:#c7b397;
}
.img-box span {
	display:block;
	color:#c7b397;
	padding-bottom:15px;
}

p {
	margin-bottom:20px;
	line-height:1.27em;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}
.p0 {
	margin-bottom:0;
}

.phone { 
	float:right; 
}

dl {
	line-height:1.27em;
	padding-bottom:10px;
	color: #FFF;
}
dl dt {
	color:#FFF;
}
dl dd {
	margin-bottom:18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
}

address {
	font-style:normal;
	color:#c7b397;
	line-height:1.27em;
	display:block;
	margin-bottom:40px;
}

/*================= TXT, LINKS, LINES, TITLES =================*/

a {	
	color:#c7b397; 
	outline:none;
}
a:hover {
	text-decoration:underline;
}

h2 {
	color:#FFF;
	font-size:22px;
	line-height:1.2em;
	border-bottom:1px solid #382b20;
	padding-bottom:7px;
	margin-bottom:12px;
}
h2 span {
	font-size:14px;
	line-height:1.2em;
	position:relative;
	top:-1px;
}
h3 {
	font-size:15px;
	line-height:1.5em;
	color:#c7b397;
	text-transform:uppercase;
	margin-bottom:20px;
}
h4 {
	font-size:1em;
	font-weight:normal;
	margin-bottom:12px;
	color:#c7b397;
}

p.txt1 {
	color:#FFF;
	font-size:1.13em;
	line-height:1.24em;
	margin-bottom:0;
	text-align: center;
}
.txt2 {
	color:#FFF;
	font-weight: bold;
	font-size: 14px;
}
.txt3 {
	color:#FFF;
}

.link {
	color:#FFF;
	text-decoration:none;
}
.link:hover {
	text-decoration:underline;
}

.link1 {
	right:30px;
	bottom:-8px;
}
.link2 {
	right:0;
	bottom:-34px;
}
.link1,
.link2 {
	position:absolute;
	width:43px;
	height:29px;
	background:url(images/link1-bg.png) no-repeat left top;
	text-align:center;
}
.link1 a,
.link2 a {
	color:#d6b88d;
	text-decoration:none;
}
.link1 a span,
.link2 a span {
	display:block;
	padding-top:3px;
}
.link1 a:hover,
.link2 a:hover {
	color:#fff;
}

.link1.left {
	left:26px;
}

/*============================ BOXES ==========================*/

.nav-box {
	width:100%;
	background:url(images/nav-tail.gif) repeat-x left top;
}
.nav-box .left {
	background:url(images/nav-left.gif) no-repeat left top;
}
.nav-box .right {
	height:51px;
	background:url(images/nav-right.gif) no-repeat right top;
	width:100%;
	overflow:hidden;
}

/*--- content-box begin ---*/
.cont-box { 
	width:100%;
	background:url(images/cont-box-tail.png);
	position:relative;
}
.cont-box .border-top { 
	background:url(images/border-top.gif) repeat-x left top;
	width:100%;
}
.cont-box .border-bot { 
	background:url(images/border-bot.gif) repeat-x left bottom;
}
.cont-box .border-left { 
	background:url(images/border-left.gif) repeat-y left top;
}
.cont-box .border-right { 
	background:url(images/border-right.gif) repeat-y right top;
}
.cont-box .left-top-corner {	
	background:url(images/left-top-corner.gif) no-repeat left top;
}
.cont-box .right-top-corner { 
	background:url(images/right-top-corner.gif) no-repeat right top;
}
.cont-box .left-bot-corner {	
	background:url(images/left-bot-corner.gif) no-repeat left bottom;
}
.cont-box .right-bot-corner { 
	background:url(images/right-bot-corner.gif) no-repeat right bottom;
}
.cont-box .inner { 
	padding:0 0 0 26px;
}
/*--- content-box end ---*/

.box { 
	width:230px;
	position:relative;
}
.box .tail {
	 background:url(images/box-tail.gif) repeat-y left top;
	 width:100%;
}
.box .tail1 {
	 background:url(images/box1-tail.gif) repeat-y left top;
	 width:100%;
}
.box .top {
	height:48px;
	background:url(images/box1-top.gif) no-repeat left top;
	position:absolute;
	left:0;
	top:-48px;
	width:230px;
}
.box .top h3 {
	padding:11px 0 0 32px;
	margin:0;
}
.box .bot1 { 
	background:url(images/box-bot.png) no-repeat left bottom;
	height:44px;
	width:230px;
	position:absolute;
	left:0;
	bottom:-26px;
	overflow:hidden;
	font-size:0;
	line-height:0;
}
.box .bot2 { 
	background:url(images/box1-bot.png) no-repeat left bottom;
	height:29px;
	width:230px;
	position:absolute;
	left:0;
	bottom:-26px;
	overflow:hidden;
	font-size:0;
	line-height:0;
}
.box .inner1 { 
	padding:0 4px;
}
.box .inner2 { 
	padding:24px 32px 34px 31px;
}

.box1 {
	width:100%;
	background:#1e160f;
}
.box1 .bot {
	background:url(images/box1-bot.gif) no-repeat left bottom;
}
.box1 .inner {
	padding:28px 18px 44px 31px;
	color: #FFF;
}
.box1 h3 {
	text-transform:none;
}

.box2 { 
	width:100%;
	background:#16100b;
	position:relative;
}
.box2 .border-top { 
	background:url(images/border1.gif) repeat-x left top;
	width:100%;
}
.box2 .border-bot { 
	background:url(images/border1.gif) repeat-x left bottom;
}
.box2 .border-left { 
	background:url(images/border2.gif) repeat-y left top;
}
.box2 .border-right { 
	background:url(images/border2.gif) repeat-y right top;
}
.box2 .inner {
	padding:23px 25px 26px 26px;
	font-weight: normal;
	color: #FFF;
}

.box3 { 
	width:100%;
	background:#120d09;
	position:relative;
}
.box3 .border-top { 
	background:url(images/border1.gif) repeat-x left top;
	width:100%;
}
.box3 .border-bot { 
	background:url(images/border1.gif) repeat-x left bottom;
}
.box3 .border-left { 
	background:url(images/border2.gif) repeat-y left top;
}
.box3 .border-right { 
	background:url(images/border2.gif) repeat-y right top;
}
.box3 .inner {
	padding:23px 25px 26px 26px;
}

/*========================== HEADER ===========================*/

#header .logo {
	position:absolute;
	top:23px;
	left:357px;
}
#header .top-bg {
	background:url(images/header-top.jpg) no-repeat left top;
	height:152px;
}
#header .top-bg .indent {
	padding-top:92px;
}

/*========================= CONTENT ===========================*/

#content {
	padding:15px 0 46px 0;
}
#content .indent {
	padding-top:34px;
}
#content .indent1 {
	margin-bottom:24px;
	font-size: 24px;
}
#content .indent2 {
	padding-bottom:69px;
}

/*========================= FOOTER ============================*/

#footer p {
	color:#725a45;
	padding:14px 0 0 30px;
}
#footer p a {
	color:#c7b397;
	text-decoration:none;
}
#footer p a:hover {
	text-decoration:underline;
}

/*=============================================================*/#page6 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2.indent1 .border-top .border-right .border-bot .border-left .inner .wrapper .col-2 .list3 li ul li strong .rdmr_b {
	font-size: 18px;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table {
	color: #CCC;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #D6D6D6;
}
.inner table tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #CCC;
}
th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #FFF;
}
#page6 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2.indent1 .border-top .border-right .border-bot .border-left .inner .wrapper .col-1 .list3 li .rdmr_b {
	color: #CCC;
}
#page6 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2.indent1 .border-top .border-right .border-bot .border-left .inner .wrapper .col-1 .list3 li .rdmr_b {
	font-weight: bold;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table tr td {
	font-family: Arial, Helvetica, sans-serif;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table tr td {
	color: #FFF;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table tr td {
	font-size: 14px;
	text-align: center;
	color: #FFF;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table tr td p .txt2 a {
	color: #FFF;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table tr td p .txt2 strong {
	text-align: center;

}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner p {
	font-size: 16px;
	color: #FFF;
	text-align: left;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner .txt3 {
	font-size: 12px;
	color: #FFF;
}
#page5 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box3 .border-top .border-right .border-bot .border-left .inner .container.row-2 .col-1.maxheight .list3 li .p0 .txt1 {
	font-size: medium;
}
#page5 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box3 .border-top .border-right .border-bot .border-left .inner .container.row-2 .col-1.maxheight .list3 li .txt3 {
	font-size: 12px;
}
#page5 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box3 .border-top .border-right .border-bot .border-left .inner .container.row-2 .col-1.maxheight .list3 li .txt3 a br {
	color: #FFF;
	font-size: 12px;
	text-align: left;
}
#page5 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box3 .border-top .border-right .border-bot .border-left .inner .container.row-2 .col-1.maxheight .list3 li .txt3 a {
	font-size: 12;
}
#page5 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box3 .border-top .border-right .border-bot .border-left .inner .container.row-2 .col-1.maxheight .list3 li p br {
	text-align: center;
}
#page7 .tail-middle .tail-top .tail-bottom #main #content .cont-box .border-top .border-right .border-bot .border-left .left-top-corner .right-top-corner .right-bot-corner .left-bot-corner .inner .container .col-2.indent.indent2 .box2 .border-top .border-right .border-bot .border-left .inner table {
	text-align: center;
}
